.single-jewelry-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8em auto;
}

.details-image {
    width: 40em;
}

.title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.description,
.title {
    word-wrap: break-word;
    max-width: 50rem;
}

.price {
    margin: 1.3em 0;
}

.price p:first-child {
    font-size: 2rem;
    font-weight: 700;
}

.cart-btn {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
    padding: 0.5em 1em;
}