.navigation {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>svg {
    width: 3.5rem;
    margin-right: 0.5em;
}

.logo>a {
    font-family: 'Roboto Serif', serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(var(--secondary-color));
}

.main-menu {
    display: flex;
}

.main-menu .menu-item {
    margin: 0 0.8em;
}

.main-menu .menu-item a {
    color: rgb(var(--secondary-color));
    font-weight: 500;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container>div {
    margin: 0 0.5em;
}

.logs>a {
    color: rgb(var(--secondary-color));
    margin: 0 0.5em;
}

.profile {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile>img {
    width: 100%;
}

.ham-bar {
    font-size: 2rem;
    cursor: pointer;
}