.navigation {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>svg {
    width: 3.5rem;
    margin-right: 0.5em;
}

.logo>a {
    font-family: 'Roboto Serif', serif;
    font-size: clamp(2rem, 2vw, 2.5rem);
    font-weight: 600;
    color: rgb(var(--secondary-color));
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu .menu-item {
    margin: 0 0.8em;
}

.main-menu .menu-item a {
    color: rgb(var(--secondary-color));
    font-weight: 500;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container>div {
    margin: 0 0.5em;
}

.logs>a {
    color: rgb(var(--secondary-color));
    margin: 0 0.5em;
}

.profile {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.ham-bar {
    font-size: 2rem;
    cursor: pointer;
    z-index: 12;
    display: none;
}

.mobile-navigation {
    display: none;
}

.mobile-navigation a {
    font-size: 1.8rem;
    margin: 5em 0;
}

.logs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
    font-size: 1.6rem;
    padding: 0.5em 1em;
}

@media only screen and (max-width: 1079px) {

    .main-menu,
    .logs {
        display: none;
    }
}