footer {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2em !important;
    padding: 3em 1em !important;
}

.contact p {
    margin: 1em 0;
}

.footer-menu li {
    margin: 0.3em 0;
}

.footer-logs {
    display: flex;
    flex-direction: column;
}

.footer-logs a {
    margin: 0.3em 0;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin-right: 0.7em;
    font-size: 2rem;
}

@media only screen and (max-width: 660px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .contact {
        margin: 2em 0;
    }
}