.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(var(--secondary-color));
    margin: 6em auto;
}

.hero-title {
    text-transform: uppercase;
    font-size: clamp(2.5rem, 3vw, 4.5rem);
}

.hero-description {
    font-size: 2rem;
    margin: 1em 0 2em;
    font-weight: 500;
}

.hero-image {
    width: 40rem;
    height: 40rem;
    overflow: hidden;
}

@media only screen and (max-width: 760px) {
    .hero-image {
        display: none;
    }
}

@media only screen and (max-width: 486px) {
    .hero-section {
        text-align: center;
    }
}