.band-section {
    margin: 12em auto !important;
}

.band-image {
    width: 50rem;
    height: auto;
}

.band-title {
    font-size: 3rem !important;
}

.band-description {
    word-wrap: break-word;
    font-size: 1.6rem !important;
    max-width: 50rem;
}

@media only screen and (max-width: 1053px) {
    .band-section {
        flex-direction: column;
    }

    .band-content {
        margin-top: 3em;
    }
}