.jewelry-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-top: 1px solid rgba(var(--secondary-color), 0.5);
}

.jewelry-row:last-child {
    border-bottom: 1px solid rgba(var(--secondary-color), 0.5);
}

.jewelry-row:hover {
    color: rgba(var(--secondary-color), 0.5);
}


.jewelry-image {
    width: 10rem;
}

.jewelry-title {
    word-wrap: break-word;
    max-width: 20rem;
}

.jewelry-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}

.jewelry-buttons a,
.jewelry-buttons button {
    margin: 0 0.5em;
}

.delete-btn {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
    padding: 0.5em 1.5em;
}

@media only screen and (max-width: 728px) {
    .jewelry-row {
        flex-direction: column;
    }

    .jewelry-title {
        margin: 1.3em 0;
        word-wrap: normal;
        max-width: 100%;
    }

    .jewelry-price {
        margin: 1em 0;
    }
}