.jewelry-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-top: 1px solid rgba(var(--secondary-color), 0.5);
}

.jewelry-row:last-child {
    border-bottom: 1px solid rgba(var(--secondary-color), 0.5);
}

.jewelry-row:hover {
    color: rgba(var(--secondary-color), 0.5);
}


.jewelry-image {
    width: 10rem;
}