.dashboard-section {
    background-color: rgba(var(--secondary-color), 0.97);
    min-height: 100dvh;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
}


.side {
    flex-grow: 1;
}

.top-outlet-container {
    width: calc(100% - 16em);
}

@media only screen and (max-width: 1180px) {
    .dashboard-container {
        flex-direction: column;
    }

    .top-outlet-container {
        width: 100%;
    }
}